<div class="container-booking">
    <div class="card-droid">
      <h1>Book <%= @droid.name %>, owner <%= @droid.user.name %></h1>
    </div>
        <h3>Choose your dates</h3> 
        <%= simple_form_for [@droid, @booking] do |f| %>
        <%= f.input :start_date, as: :date, html5: true %>
        <%= f.input :end_date, as: :date, html5: true %>
        <%= f.submit "Submit", class: "btn btn-primary" %>
        <% end %>
</div>