  <h1>Users droids</h1>
  <ul>
    <% @droids.each do |droid| %>
      <li><%= droid.name %>
          <% droid.categories.each do |category| %>
            <p><%= category.name %></p>
          <% end %>
        <%= link_to '[delete]', droid_path(droid), method: :delete, data: { confirm: 'Are you sure?'} %>
          <% droid.bookings.each do |booking| %>
             // rent by <%= booking.find_user(booking.user_id) %>
             // at <%= booking.start_date %> to <%= booking.end_date %>
          <% end %>
      </li>
    <% end %>
  </ul>
