<div class="container-booking-index">
  <div class="item-box">
    <div class="item col-6">
        <h2 id="booking-title"><%= current_user.name.capitalize %>'s bookings</h2>
          <ul><% @bookings.each do |booking| %>
            <div class="item-border">
              <h2><%= booking.droid.name.capitalize %></h2>
              <p>Session start at: <strong><%= booking.start_date.to_time.strftime('%B %e, %Y') %></strong>
                  --      Session finish at: <strong><%= booking.end_date.to_time.strftime('%B %e, %Y') %></strong>
                <% if DateTime.now > booking.end_date + 1 %><span id="date-expired">🔴 EXPIRED</span>
                <% end %>
              </p>
            </div>
          <% end %>
          </ul>
    </div>
    <div class="item2 col-6">
      <h2>My droids list</h2>
        <% @droids.each do |droid| %>
           <div class="item-border">
            <h2><%= droid.name.capitalize %></h2>
            <%= link_to '[delete]', droid_path(droid), method: :delete, data: { confirm: 'Are you sure?'} %>
            <% droid.bookings.each do |booking| %>
            <p>
              // Rent by <%= booking.find_user(booking.user_id).capitalize %>
              // at <strong><%= booking.start_date.to_time.strftime('%B %e, %Y') %></strong> to <strong><%= booking.end_date.to_time.strftime('%B %e, %Y') %></strong>
            </p>
            <% end %>
           </div>
        <% end %>
    </div>
  </div>
</div>
