  
<div class="container-all-droids">
  <div class="container-index-droid">
    <div id="map"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    <% @droids.each do |droid| %>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
        <% if droid.photo.attached? %>
          <img src="https://wallpaperaccess.com/full/519192.jpg" alt="Avatar" style="width:314px;height:430px;">
          <% else %>
          <img src="https://wallpaperaccess.com/full/519192.jpg" alt="Avatar" style="width:314px;height:430px;">
          <% end %>
        </div>
        <div class="flip-card-back">
          <h2 id="droid-name"><%= droid.name.capitalize %></h2>
          <h2 class="category">Categories</h2>
            <ul id="category-list">
              <% droid.categories.each do |category| %>
                    | <%= category.name %> |
                  <% end %>
            </ul>
          <p class="description">Description</p>
          <p><%= droid.description %></p>
          <h2 class="card-trip-pricing">$<%= droid.price %> / Days</h2>
          <button class="btn-first"><%= link_to "book now", new_droid_booking_path(droid) %></button>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
