<div class="container-all-droids">
  <div class="container-index-droid">
    <% @droids.each do |droid| %>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
        <% if droid.photo.attached? %>
          <img src="https://res.cloudinary.com/dhtd0cg7t/image/upload/v1613208679/<%= droid.photo.key %>" alt="Avatar" style="width:314px;height:430px;">
          <% else %>
          <img src="https://i.pinimg.com/originals/36/75/c2/3675c2f7c59d731cc81a4bc6526b9904.jpg" alt="Avatar" style="width:314px;height:430px;">
          <% end %>
        </div>
        <div class="flip-card-back">
          <h2><%= droid.name %></h2>
          <h2 class="category">Categories</h2>
            <ul>
              <li><% droid.categories.each do |category| %>
                    <%= category.name %>
                  <% end %></li>
            </ul>
          <p class="description">Description:</p>
          <p><%= droid.description %></p>
          <h2 class="card-trip-pricing">$<%= droid.price %></h2>
          <button class="btn-first"><%= link_to "book now", new_droid_booking_path(droid) %></button>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
