<h1>New droid</h1>
<%= simple_form_for @droid do |f| %>
<%= f.input :name %>
<%= f.input :address %>
<%= f.input :description %>
<%= f.input :price %>
<%= f.input :photo, as: :file %>
<%= f.association :categories, as: :check_boxes, collection: ['Protocol', 'Fight', 'Spy', 'Medic', 'Entertainment'] %>
<%= f.submit "Submit", class: "btn btn-primary btn-lg btn-block" %>
<% end %>
