<h1>New droid</h1>
<%= simple_form_for @droid do |f| %>
<%= f.input :name %>
<%= f.input :address %>
<%= f.input :description %>
<%= f.input :price %>
<%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
