<!DOCTYPE html>
<html>
  <head>
    <title>CallOfTheDroids</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <nav class="nav">
    <div class="container">
      <div class="logo">
       <a href="http://localhost:3000/"><img src="https://recette.allopsm.fr/wp-content/uploads/2018/07/Android-logo-png.png" alt=""></a>
      </div>
        <div id="mainListDiv" class="main_list">
          <ul class="navlinks">
              <li><%= link_to "Droids", droids_path, id: "box1" %></li>
              <li><a id="box3" href="#">Sign up</a></li>
              <li><a id="box4" href="#">Log in</a></li>
          </ul>
        </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
